extends header

block content
    link(rel='stylesheet', href='/DataTables/datatables.min.css')
    script(src='/DataTables/datatables.min.js')
    script(src='/js/Chart.min.js')
    script(src='/js/teamCompare.js')
    style.
        div.dt-button-collection.fixed.four-column {
            margin-left: -500px;
            width: 1000px;
        }
        div.dataTables_scrollBody table tbody tr {
            height: auto !important;
        }
    #averages(style="display:none")= JSON.stringify(teamAverages)
    h1 Team Compare
    h3 Average Table
    table#average-table.display.cell-border(width="100%", style="table-layout: fixed;")
    h3 Average Chart
    select#yaxis.custom-select.mr-sm-2
        option(value='' selected) Choose...
        option(value='1') Moved Baseline
        option(value='2') Auto Cells Pickup
        option(value='3') Auto Cells Dropped
        option(value='4') Auto Cells Low
        option(value='5') Auto Cells High
        option(value='6') Auto Cells Inner
        option(value='7') Auto Cells Assist
        option(value='8') Auto Cell Accuracy
        option(value='9') Teleop Cells Pickup
        option(value='10') Teleop Cells Dropped
        option(value='11') Teleop Cells Low
        option(value='12') Teleop Cells High
        option(value='13') Teleop Cells Inner
        option(value='14') Teleop Cells Assist
        option(value='15') Assist Frequency
        option(value='16') Teleop Cell Accuracy
        option(value='17') Cell Accuracy
        option(value='18') Position Control
        option(value='19') Rotation Control
        option(value='20') Climb
        option(value='21') Climb and Balance
        option(value='22') Park
        option(value='23') Speed
        option(value='24') Stability
        option(value='25') Defense
        option(value='26') Defense NA
        option(value='27') Primary Defense
        option(value='28') Broken
        option(value='29') Dead
        option(value='30') Points Earned
    canvas#average-chart(width="100%", height="50")
