body {
	margin: 0;
	overflow: hidden;
}

.app {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-rows: 5rem 1fr;
}

.content {
	overflow-x: hidden;
	overflow-y: hidden;
	height: calc(100vh - 5rem);
}

.teamList {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr 4fr 1fr;
	overflow-y: scroll;
}

.teamList span {
	padding: 1rem;
}

.teamList .teamNumber {
	grid-column: 1;
}

.teamList .autoScore {
	grid-column: 2;
}

.teamList .autoEfficiency {
	grid-column: 3;
}

.teamList .autoHighLowGoal {
	grid-column: 4;
}

.teamList .teleopScore {
	grid-column: 5;
}

.teamList .teleopEfficiency {
	grid-column: 6;
}

.teamList .teleopHighLowGoal {
	grid-column: 7;
}

.teamList .climbScore {
	grid-column: 8;
}

.teamList .climbAccuracy {
	grid-column: 9;
}

.teamList .defenceScore {
	grid-column: 10;
}

.teamList .winLossRatio {
	grid-column: 11;
}

.teamList .general {
	grid-column: 12;
}

.teamList .score {
	grid-column: 13;
}

.teamListContainer {
	display: grid;
	height: 100%;
	grid-template-rows: auto 1fr;
	overflow: hidden;
}

.teamRow {
	display: contents;
}
