body {
	font-family: sans-serif;
}

.teamList.pinned {
	border-bottom: 2px solid #c0c0c0;
}

.teamList .pinned span {
	background-color: #00000040;
	font-weight: bold;
}

.teamRow.odd span {
	background-color: #282b30;
}

.teamRow.even span {
	background-color: #202428;
}

.pinned .teamRow span {
	background-color: #181b20;
}
